doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '13'
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            Account:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Account/Domain/Resource'
                prefix: 'App\Account\Domain\Resource'
                alias: App
            Bet:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Bet/Domain/Resource'
                prefix: 'App\Bet\Domain\Resource'
                alias: App
